@import url('https://fonts.googleapis.com/css2?family=Devonshire&family=Satisfy&display=swap');

body
 {
  font-family: 'Satisfy', cursive;
    width: 100%;
    height: auto;
    font-weight: bolder;
    background-color: #e6eeec;
    color: #000103;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    overflow-x:hidden; 
   
  }
header
{
  border: 2px black solid;
  background-color: rgb(244, 236, 247);
  width: 100%;
  position: fixed;
}
.pL{
  margin-top: 100px;
  margin-bottom: 100px;}

nav
{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   
}
  .navbar img
  {
   width: 200px;
   height: 60px;
  } 

  .navbar-nav
  {
   display: flex;
   flex-direction: row;
   list-style: none;
  }

  .nav-item{
  margin-right: 100px;
  }
  .nav-link
  {
  text-decoration:none;
  color: #000103;
  } 
  .cart
  {
    display: flex;
    flex-direction: row;   
  }
.cart:hover,.nav-link:hover
{
  color: rgb(41, 136, 4);
}
.cart__nb
{
  display: inline-block;
  border-radius: 5rem;
  position: relative;
  top: 0px;
  left: 5px;
  right: 0px;
  height: 20px;
  background-color: rgb(248, 7, 7);
  color: white;
  font-size: 1rem;
  text-align: center;
}
.container
{
  text-align: center;
}
h2{color: rgb(22, 22, 22);}

footer
{
  border: 2px black solid;
  background-color:rgb(244, 236, 247);
  width: 100%;
     height: auto;
     position: fixed;
     left: 0px;
     right: 0px;
     bottom: 0px;    
}

  .listfooter
  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
  }
  .listfooter a
  {
    text-decoration: none;
    color: #000103;
  }
  .product__price
  {
    color: rgb(161, 24, 14);
    margin-bottom:10px; 
  }
 
  #productList,.product-section, #cart-section,#confirmation-section 
  {
    text-align: center;
  }
  
  #cart-section
  {
    border: 2px solid black;
    border-radius: 2rem;
    box-shadow: 0px 6px 6px black;
    margin:130px 300px 100px 300px;
    padding:50px;
    background-color: rgb(240, 171, 234);
  }
 th
 {
   padding-left: 50px;
   padding-right: 0px;
   text-align: start;
 }
td
{
  padding-left: 10px;
  padding-right: 10px;
  text-align: start;
}

.cart-form__group
{display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (max-width: 1200px)
{
    
    body
    {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    header nav, .navbar-nav
    {
      display:flex;
      flex-direction: row;
      align-items: center;
    }
    .navbar img
    {
      width:100px;
      height: 30px;
    }
    th
    {
      padding-left: 10px;
      padding-right: 10px;
      text-align: start;
    }
td
{
  padding-left:0px;
  padding-right: 0px;
  text-align: start;
}
#cart-section
{
  margin:130px 150px 100px 150px;
  padding:0px;
  background-color: rgb(240, 171, 234);
} 
.formulaire
{
  padding-left: 5px;
  padding-right: 5px;
} 
}

@media all and (max-width: 879px)
{
    .textUtile h1, .textUtile h2
    {
      font-size: 20px;
    }
}

